# Ignore node_modules
/node_modules

# Ignore environment files
.env

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build directories
dist/
build/

# Ignore IDE/Editor config files
.vscode/
.idea/
*.swp
